<div class="comment-div">
  <div class="post-commented">
    <div>
      <% post_img_path = "/uploads/post/image/"+@posts.id.to_s+"/"+@posts[:image] %>
      <img src=<%= post_img_path %> alt="post_img"  height="450px" width="400px">
    </div>
    <div>
      <p><%= @posts.description %></p>
    </div>
  </div>
  <div class="view-comment">
    <% if @posts.user_id == current_user.id %>
      <% post_comment = Comment.where(post_id: @posts.id) %>
      <% if post_comment %>
        <% post_comment.each do |comment| %>
          <div><%= User.find(comment.user_id).user_name %></div>
          <% if comment.user_id == current_user.id %>
            <div>
              <input type="text" value="<%=comment.description%>" class = "user_desc">
              <%= link_to "delete", "/delete_comment/#{comment.id}", method:"delete" %>
            </div>
          <% else %>
            <div>
              <input type="text" value="<%=comment.description%>" class = "user_desc">
              <%= link_to "delete", "/delete_comment/#{comment.id}", method:"delete" %>
            </div>
          <%end%>
        <%end%>
      <% end %>
    <% else %>
      <% post_comment = Comment.where(post_id: @posts.id) %>
      <% if post_comment %>
        <% post_comment.each do |comment|%>
          <div><%= User.find(comment.user_id).user_name %></div>
          <% if comment.user_id == current_user.id %>
            <div>
              <input type="text" value="<%=comment.description%>" class = "user_desc">
              <%= link_to "delete", "/delete_comment/#{comment.id}", method:"delete" %>
            </div>
          <% else %>
            <div>
              <p><%= comment.description %></p>
            </div>
          <%end%>
        <%end%>
      <% end %>
    <%end%>
  </div>
</div>
