<div class="body-div">
  <div class="nav-div">
    <div class="logo">
      <a href="/">
        <p>Insta</p>
      </a>
    </div>
    <div class="search-box">
      <form action="/search_profile" method="get">
        <input type="text" placeholder="Search" class="search" required pattern=".*\S+.*" title="Search field cannot be Blank" name="q">
        <button type="submit" ><em class="fa fa-search" aria-hidden="true"></em>
        </button>
      </form>
    </div>
    <div class="nav-icon"><a href="/"><i class="fa-solid fa-house"></i></a></div>
    <div class="nav-icon"><a href="/posts/new"><i class="fa-solid fa-circle-plus"></i></a></div>
    <div class="nav-icon"><a href=""><i class="fa-solid fa-heart"></i></a></div>
    <div class="profile-icon"><i class="fa-solid fa-circle-user"></i>
      <div class="dropdown-content">
        <%= link_to "Profile" ,"/profile/new" , class:"a"%>
        <%= link_to "Log Out","/users/sign_out", method: :delete, class:"a" %>
      </div>
    </div>
  </div>
  <div class="main-div">
    <% Post.all.each do |posts|%>
      <div class="post-box">
        <div class="username-div">
          <div class="user-profile"><i class="fa-solid fa-circle-user"></i> </div>
          <div class="username">
            <%user = User.find(posts.user_id)%>
            <p><%=user.user_name %></p>
          </div>
          <div class="nav-dots"><i class="fa-solid fa-ellipsis-vertical"></i>
            <div class="dropdown-contents">
              <%= link_to "Delete" , "/delete_posts/#{posts.id}" , method: :delete , class:"p" %>
            </div>
          </div>
        </div>
        <div>
          <% post_img_path = "/uploads/post/image/"+posts[:id].to_s+"/"+posts[:image] %>
          <img src=<%= post_img_path %> alt="post_img"  height="450px" width="400px">
        </div>
        <div class="like-main-div">
          <div class="like-div"><i class="fa-regular fa-heart"></i></div>
          <div class="comment-icon-div"><i class="fa-regular fa-comment"></i></div>
        </div>
        <div>
          <p><%= posts.description %></p>
        </div>
        <div class="comment-box-div">
          <p>Add Your Comments</p>
          <button>Post</button>
        </div>
      </div>
    <%end%>
  </div>
</div>
