<div class="body-div">
  <div class="nav-div">
    <div class="logo">
      <a href="/">
        <p>Insta</p>
      </a>
    </div>
    <div class="search-box">
      <form role="search" action="/search" method="get">
        <input type="text" placeholder="Search" class="search" required pattern=".*\S+.*" title="Search field cannot be Blank">
        <button type="submit" name="q"><em class="fa fa-search" aria-hidden="true"></em>
        </button>
      </form>
    </div>
    <div class="nav-icon"><a href="/"><i class="fa-solid fa-house"></i></a></div>
    <div class="nav-icon"><a href="/posts/new"><i class="fa-solid fa-circle-plus"></i></a></div>
    <div class="nav-icon"><a href=""><i class="fa-solid fa-heart"></i></a></div>
    <div class="profile-icon"><i class="fa-solid fa-circle-user"></i>
      <div class="dropdown-content">
        <%= link_to "Profile" ,"/profile/new" , method: :get, class:"a"%>
        <%= link_to "Log Out","/users/sign_out", method: :delete, class:"a" %>
      </div>
    </div>
  </div>
  <div class="main-div">
    <div>
      <%= form_with url: "/new_posts", method: "post" do |form|%>
        <%= form.file_field "posts[image]", multiple: true, class:"image-post" %>
        <%= form.text_field "posts[description]", placeholder:"Type your Description", class:"desc-post" %>
        <%= form.submit "Post", class:"add-post"%>
      <%end%>
    </div>
  </div>
</div>
