<div class="body-div">
  <div class="nav-bar-div">
    <div class="logo">
      <a href="/">
        <p>Insta</p>
      </a>
    </div>
    <div class="search-box">
      <form action="/search_profile" method="get">
        <input type="text" placeholder="Search" class="search" required pattern=".*\S+.*" title="Search field cannot be Blank"  name="q">
        <button type="submit"><em class="fa fa-search" aria-hidden="true"></em>
        </button>
      </form>
    </div>
    <div class="nav-icon"><a href="/"><i class="fa-solid fa-house"></i></a></div>
    <div class="nav-icon"><a href="/posts/new"><i class="fa-solid fa-circle-plus"></i></a></div>
    <div class="nav-icon"><a href=""><i class="fa-solid fa-heart"></i></a></div>
    <div class="profile-icon"><i class="fa-solid fa-circle-user"></i>
      <div class="dropdown-content">
        <%= link_to "Profile" ,"/profile/new" , class:"a"%>
        <%= link_to "Log Out","/users/sign_out", method: :delete, class:"a" %>
      </div>
    </div>
  </div>
  <div class="body-profile">
    <div class="main-profile">
      <div class="profile-photo">
        <i class="fa-regular fa-circle-user"></i>
      </div>
      <div class="profile-view">
        <div class="uname-class">
          <label class="user-name"><%= current_user.user_name %></label>
        </div>
        <div class="follow-class">
          <p><span><%=Post.where(user_id: current_user.id).count %></span>Posts</p>
          <p><span><%=FollowRequest.where(receiver_id: current_user.id).count %></span>Followers</p>
          <p><span><%=FollowRequest.where(sender_id: current_user.id).count %></span>Following</p>
          
        </div>
        <div class="name-class">
          <label class="user-name"><%=current_user.name %></label>
        </div>
      </div>
    </div>
    <div class="post-profile">
      <div class="users-posts">
        <% Post.where(user_id: current_user.id).each do |posts| %>
          <div class="img-div">
            <% post_img_path = "/uploads/post/image/"+posts[:id].to_s+"/"+posts[:image] %>
            <img src=<%= post_img_path %> alt="post_img"  height="350px" width="300px">
          </div>
          <div>
            <p><%= posts.description %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
